
<a href="<%= href %>" type="button" class="transition rounded-2xl inline-flex items-center border border-[#000000]/50 bg-[#000000] px-8 py-2 text-sm font-medium text-white hover:bg-[#000000]/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#0e9825]">
    <%= text %>
</a>